constraints: HDBC ==2.4.0.1,
             base ==4.8.1.0,
             rts ==1.0,
             ghc-prim ==0.4.0.0,
             integer-gmp ==1.0.0.0,
             bytestring ==0.10.6.0,
             deepseq ==1.4.1.1,
             array ==0.5.1.0,
             containers ==0.5.6.2,
             convertible ==1.1.1.0,
             mtl ==2.2.1,
             transformers ==0.4.2.0,
             old-locale ==1.0.0.7,
             old-time ==1.1.0.3,
             text ==1.2.2.1,
             binary ==0.7.5.0,
             time ==1.5.0.1,
             utf8-string ==1.0.1.1,
             cesds-records ==0.3.7.14,
             cereal ==0.5.4.0,
             fail ==4.9.0.0,
             data-default ==0.7.1.1,
             data-default-class ==0.1.2.0,
             data-default-instances-containers ==0.0.1,
             data-default-instances-dlist ==0.0.1,
             dlist ==0.8.0.2,
             data-default-instances-old-locale ==0.0.1,
             lens ==4.15.1,
             base-orphans ==0.5.4,
             bifunctors ==5.4.1,
             comonad ==5,
             contravariant ==1.4,
             StateVar ==1.1.0.4,
             stm ==2.4.4.1,
             semigroups ==0.18.2,
             hashable ==1.2.5.0,
             tagged ==0.8.5,
             template-haskell ==2.10.0.0,
             pretty ==1.1.2.0,
             transformers-compat ==0.5.1.4,
             unordered-containers ==0.2.7.2,
             void ==0.7.1,
             distributive ==0.5.1,
             exceptions ==0.8.3,
             filepath ==1.4.0.0,
             free ==4.12.4,
             prelude-extras ==0.4.0.3,
             profunctors ==5.2,
             semigroupoids ==5.1,
             generic-deriving ==1.11.1,
             kan-extensions ==5.0.1,
             adjunctions ==4.3,
             parallel ==3.2.1.0,
             reflection ==2.1.2,
             vector ==0.12.0.0,
             primitive ==0.6.2.0,
             protobuf ==0.2.1.1,
             data-binary-ieee754 ==0.4.4,
             raft ==0.3.11.1,
             aeson ==1.1.0.0,
             attoparsec ==0.13.1.0,
             scientific ==0.3.4.10,
             integer-logarithms ==1,
             base-compat ==0.9.1,
             unix ==2.7.1.0,
             time-locale-compat ==0.1.1.3,
             uuid-types ==1.0.3,
             random ==1.1,
             split ==0.2.3.1,
             tostring ==0.2.1.1,
             case-insensitive ==1.2.0.7,
             zlib ==0.6.1.2,
             uuid ==1.3.13,
             cryptohash-md5 ==0.11.100.1,
             cryptohash-sha1 ==0.11.100.1,
             entropy ==0.3.7,
             network-info ==0.2.0.8,
             websockets ==0.10.0.0,
             SHA ==1.6.4.2,
             base64-bytestring ==1.0.0.1,
             blaze-builder ==0.4.0.2,
             network ==2.6.3.1,
             directory ==1.2.2.0,
             HDBC-postgresql ==2.3.2.4,
             parsec ==3.1.11,
             yaml ==0.8.21.1,
             conduit ==1.2.8,
             lifted-base ==0.2.3.8,
             monad-control ==1.0.1.0,
             transformers-base ==0.4.4,
             mmorph ==1.0.9,
             resourcet ==1.1.9,
             enclosed-exceptions ==1.0.2
