#metadataPanel {
  position  : fixed
; top       :  0px
; left      :  1%
; width     : 34%
; height    : 100%
; overflow-y: scroll
}

#metadataPanel dl {
  margin-top   : 10px
; margin-bottom: 10px
; font-family  : monospace
; font-size    : smaller
; cursor       : auto
}

#metadataPanel dt {
  display    : inline
; font-weight: bold
}

#metadataPanel dt::after {
  content: ": "
}

#metadataPanel dd {
  display             : inline
; -webkit-margin-start: 0px
}

#metadataPanel dd::after {
  content      : " "
; display      : block
; margin-top   : 5px
; margin-bottom: 5px
}

#metadataPanel ul button {
  font-family: monospace
; font-size  : smaller
}


#model {
  width: 100%
}


#dataPanel {
  position: absolute
; left    :  38%
; width   :  59%
; height  : 101%
}


#plot {
  position: absolute
; width   : 100%
; height  : 500px
}


#data {
  position   : absolute
; top        : 500px
; width      : 100%
; font-family: monospace
}

#data {
  border-collapse: collapse
}

#data caption {
  padding   : 20px
; text-align: left
}

#data, #data th, #data td {
  padding: 5px
; border : 1px solid black
}


/* START OF EXCERPT FROM <https://bl.ocks.org/jasondavies/1341281> */
/* FIXME: This is based on a GPLv3 license.                        */

svg {
  font: 10px sans-serif;
}

.background path {
  fill: none;
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.foreground path {
  fill: none;
  stroke: steelblue;
}

.brush .extent {
  fill-opacity: .3;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.axis line,
.axis path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  cursor: move;
}

/* END OF EXCERPT FROM <https://bl.ocks.org/jasondavies/1341281> */

#waitMode {
  position: fixed
; width   : 100%
; height  : 101%
; display : none
; cursor  : wait
}

body {
  font-family: sans-serif
}
