#metadataPanel {
  width: 35%
}

#metadataPanel dl {
  margin-top   : 10px
; margin-bottom: 10px
; font-family  : monospace
; font-size    : smaller
; cursor       : auto
}

#metadataPanel dt {
  display    : inline
; font-weight: bold
}

#metadataPanel dt::after {
  content: ": "
}

#metadataPanel dd {
  display             : inline
; -webkit-margin-start: 0px
}

#metadataPanel dd::after {
  content      : " "
; display      : block
; margin-top   : 5px
; margin-bottom: 5px
}

#metadataPanel button {
  font-family: monospace
; font-size  : smaller
}

#model {
  width: 100%
; overflow-y: scroll
}

#dataPanel {
  position: absolute
; left    :  40%
; top     :  40px
; width   :  60%
}

#data {
  top        :  10%
; width      : 100%
; font-family: monospace
}

#data {
  border-collapse: collapse
}

#data caption {
  padding   : 20px
; text-align: left
}

#data, #data th, #data td {
  padding: 5px
; border : 1px solid black
}

body {
  font-family: sans-serif
}
